@import "../../node_modules/bulma/bulma";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$font-stack: Open Sans;
$lessblack: #fff;
$skycolor: #65aada;

html, body {
  font: 100% $font-stack;
  overflow-x: hidden;
  max-width: 100%;
  background-color: $skycolor;
  -webkit-font-smoothing: antialiased;
}

#content_lnp {
  padding-top: 0;
  margin-top: 0;
}

#title, #subtitle {
  color: white; //no black
  text-align: center;
}



#scape {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;

  margin-left: 50%;
  transform: translateX(-50%);

  z-index: 0;
}

#train {
  position: relative;
  margin-top: 23.75%;
  margin-left: -20%;
  max-height: 30%;
  max-width: 33%;
  z-index: 1;
}

.scale{
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
#train:hover {
  transition-duration: 2s;
  transform: translate(2400px, 0px);
}

.toppage {
  //padding-top: 10%;
  background-color: $skycolor;
}

.botpage {
  background-color: skycolor;
  padding-top: -20%;
  margin-top: 30%;
}


