//@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/utilities/mixins";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

$font-stack: Montserrat;
$lessblack: #fff;
$skycolor: #65aada;

html {
  font: 100% $font-stack;
  overflow-x: hidden;
  max-width: 100%;
  background-color: $skycolor;
}

body {
  margin-top: 140px;
  overflow-x: hidden;
  max-width: 100%;
  font: 100% $font-stack;
  padding-bottom: 20px;
}

#nav {
  transform: translateY(0px);
}

#title,#subtitle {
  color: white; //no black
  text-align: center;
}

#title {
  font-size: 300%;
}

#subtitle {
  font-size: 110%;
}


@media(min-width: 981px) {
  #scape {
    position: absolute;
    display: block;
    width: 102%;
    height: auto;

    margin-left: 50%;
    transform: translateX(-50%);

    z-index: 0;
  }

  #train {
    position: relative;
    margin-top: 23.75%;
    margin-left: -20%;
    max-height: 30%;
    max-width: 30%;
    z-index: 1;
  }
}

@media (max-width: 980px) {
  
  #scape {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;

    margin-left: 50%;
    transform: translateX(-50%);

    z-index: 0;
  }

  #train {
    position: relative;
    margin-top: 23.75%;
    margin-left: -20%;
    max-height: 30%;
    max-width: 33%;
    z-index: 1;
  }
}


.scale{
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
#train:hover {
  transition-duration: 2s;
  transform: translate(2400px, 0px);
}

.landscape {

}

.sticky {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content_lnp {
  padding-top: 60px;
}

.grid-item {
  float: left;
  width: 80px;
  height: 60px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.toppage {
  //padding-top: 10%;
  background-color: $skycolor;
}

.botpage {
  background-color: skycolor;
  padding-top: -20%;
  margin-top: 30%;
}



