extends default

append styles
  link(rel='stylesheet', href='css/blog.css')

//- Need mixins here
block content
  .mycontent
    section.articles
      .column.is-8.is-offset-2
        // START PROMO BLOCK
        section.hero.is-link.is-bold.is-small.promo-block
          .hero-body
            .container
              h1.title
                i.fa.fa-bell-o
                | A sample blog
              h2.subtitle
                | Not sure what I'll write here
        // END PROMO BLOCK
        // START ARTICLE
        .card.article
          .card-content
            .media
              .media-center
                img.author-image(src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Circle-icons-videocameracompact.svg/2000px-Circle-icons-videocameracompact.svg.png', alt='images/test.jpg')
              .media-content.has-text-centered
                p.title.article-title The First of Three Posts
                p.subtitle.is-6.article-subtitle
                  a(href='#') @lucas
                  |  on January 1, 2000
            .content.article-body
              p
                | Non arcu risus quis varius quam quisque. Dictum varius duis at consectetur lorem. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.
              p
                | Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Accumsan lacus vel facilisis volutpat. Non sodales neque sodales ut etiam. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.
              h3.has-text-centered Feugiat sed lectus vestibulum mattis.
              p
                | Molestie ac feugiat sed lectus vestibulum. Feugiat sed lectus vestibulum mattis. Volutpat diam ut venenatis tellus in metus vulputate. Feugiat in fermentum posuere urna nec. Pharetra convallis posuere morbi leo urna molestie at. Accumsan lacus vel facilisis volutpat est velit egestas. Fermentum leo vel orci porta. Faucibus interdum posuere lorem ipsum.
        // END ARTICLE
        // START ARTICLE
        .card.article
          .card-content
            .media
              .media-center
                img.author-image(src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Circle-icons-videocameracompact.svg/2000px-Circle-icons-videocameracompact.svg.png', alt='Placeholder image')
              .media-content.has-text-centered
                p.title.article-title The Second of Three Posts
                p.subtitle.is-6.article-subtitle
                  a(href='#') @lucas
                  |  on January 1, 2000
            .content.article-body
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
              p
                | Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
              h3.has-text-centered
                | Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Cras tincidunt lobortis feugiat vivamus.
              p
                | In eu mi bibendum neque egestas congue quisque egestas diam. Enim nec dui nunc mattis enim ut tellus. Ut morbi tincidunt augue interdum velit euismod in. At in tellus integer feugiat scelerisque varius morbi enim nunc. Vitae suscipit tellus mauris a diam. Arcu non sodales neque sodales ut etiam sit amet.
        // END ARTICLE
        // START PROMO BLOCK
        section.hero.is-info.is-bold.is-small.promo-block
          .hero-body
            .container
              h1.title
                i.fa.fa-bell-o
                | Another riveting title...
              h2.subtitle
                | How are these gradients formed?
        // END PROMO BLOCK
        // START ARTICLE
        .card.article
          .card-content
            .media
              .media-center
                img.author-image(src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Circle-icons-videocameracompact.svg/2000px-Circle-icons-videocameracompact.svg.png', alt='Placeholder image')
              .media-content.has-text-centered
                p.title.article-title The Third of Three Posts
                p.subtitle.is-6.article-subtitle
                  a(href='#') @lucas
                  |  on January 1, 2000
            .content.article-body
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
              p
                | Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
              h3.has-text-centered
                | Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Cras tincidunt lobortis feugiat vivamus.
              p
                | In eu mi bibendum neque egestas congue quisque egestas diam. Enim nec dui nunc mattis enim ut tellus. Ut morbi tincidunt augue interdum velit euismod in. At in tellus integer feugiat scelerisque varius morbi enim nunc. Vitae suscipit tellus mauris a diam. Arcu non sodales neque sodales ut etiam sit amet.
        // END ARTICLE
    // END ARTICLE FEED

