block scripts
  div
    script(src='/js/jquery.min.js')
    script(src='/js/main.js')

    // Move those .js out of dist when you get a chance
    // Fill before deployment
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    //script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','#{googleAnalyticsID}','auto');ga('send','pageview');
    //script(src='/js/functions.js')