head
  meta(charset='utf-8')
  meta(name='author', content='Lucas Patel')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  meta(charset='utf-8')
  //some crazy info here https://github.com/JonKaric/head

  block title
    title Lucas Patel

  block styles
    //point to sass in future
    link(rel='stylesheet', href='/node_modules/bulma/css/bulma.css')
    link(rel='stylesheet', href='css/main.css')

  block scripts
    //clear out, unless necessary
    