append styles

nav#navbar.navbar.is-link
  .navbar-brand
    a.navbar-item(href='/index.html')
      img(src='/images/logo.png')
    .navbar-burger.burger(data-target='navMenuTransparentExample')
      span
      span
      span
  #navMenuTransparentExample.navbar-menu
    .navbar-start
      a.navbar-item(href='/blog.html', disabled='')  Thoughts 
      a.navbar-item(href='/photos.html')  Impressions 
      a.navbar-item(href='/projects.html')  Projects 
      a.navbar-item(href='/contact.html')  Contact 
    .navbar-end





